.header {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 93px;

    &__logo {
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 25px;
        line-height: 33px;
        color: #000000;
    }
    &__logo--img {
        padding-right: 15px;
    }
    &-btn {
        border: none;
        background: none;
        display: none;
    }
}

.modal {
    top: -260px;
    border: none;
    box-shadow: 40px 35px 45px -10px rgba(62, 84, 102, 0.25);
    margin-top: 350px;
    width: 100vw;
    height: 300px;
    position: absolute;
    z-index: 2;
}

.modal__list {
    text-align: center;
    display: flex;
    flex-direction: column;
}

@media only screen and(max-width: 680px) {
    .header {
        width: 670px;
        &-btn {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 20px;
            display: block;
        }
    }
    .navbar {
        display: none;
        &__list {
            display: none;
        }
    }
    .form-search {
        margin-left: 60px;
        position: absolute;
        z-index: 1;
        top: 95px;
    }
}
