//styles
@import "./assets/styles/fonts.scss";
@import "./assets/styles/normalize.scss";


body {
    max-width: 1320px;
    font-family: "Roboto Mono", "Arial", sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

*,
*::after,
*::before {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
}

img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
